# .gitignore

*.csv
*.pt
*.pth
__pycache__/
*.pyc
.env.local
*.log
*.txt
*.html
*.json
*.jsonl
!requirements.txt
src/web/frontend/evolution_graph/node_modules/*
src/web/frontend/evolution_graph/build/*
docs/phase02_*.md
subprojects/*
tasks/phase-05.md
