user_config:
  user_id: default_user
  api_key: test_api_key
  api_secret: test_api_secret
  symbols:
  - AAPL
  - MSFT
  - GOOGL
  - EUR/USD
  - GBP/JPY
  - GOLD
  - OIL
  risk_preference: moderate
models_config:
  model_name: placeholder
  model_type: transformer
  data_window: 168
  prediction_target: close
  prediction_horizon: 24
data_config:
  data_source: exchange
  proxy: ''
  timeframe: 1H
  historical_days: 30
  update_interval: 60
config_version: 1.0.0
agent3_config:
  entity_batch_size: 80
  event_batch_size: 15
  event_bucket_days: 7
  event_bucket_entity_overlap: 1
  event_bucket_max_size: 40
  event_precluster_similarity: 0.92
  event_precluster_limit: 300
  entity_precluster_similarity: 0.93
  entity_precluster_limit: 500
  max_summary_chars: 360
  entity_max_workers: 7
  event_max_workers: 7
  rate_limit_per_sec: 6.0
  entity_evidence_per_entity: 2
  entity_evidence_max_chars: 400
agent1_config:
  max_workers: 7
  rate_limit_per_sec: 6.0
  dedupe_threshold: 4
agent2_config:
  max_workers: 7
  rate_limit_per_sec: 6.0
